@font-face {
    font-family: 'tech';
    src: url('fonts/AstroSpace-0Wl3o.otf') format('opentype'), url('fonts/AstroSpace-0Wl3o.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-image: linear-gradient(to bottom, rgb(71, 161, 197), rgb(236, 250, 252));
    color: white;
    font-size: 10px;
    height: 220px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.329);
    
}
header > h1{
    font: 4em 'tech';
    font-weight: 900;
    color: yellow;
    padding-top: 30px;
    text-align: center;
    border-radius: 5px;
}

header > p{
    font: 15px 'Arial';
    color: yellow;
    text-align: center;
    padding-bottom: 10px;
    font-weight: 700;
}

nav{            
    margin-left: 20px;
    margin-right: 40px;
    background-color: rgb(71, 161, 197);
    padding: 7px;
    text-align: center;
    border-radius: 5px;
}

nav > a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 30px;
    padding-left: 30px;
    
}

#a:hover, #b:hover, #c:hover, #d:hover{
    background-color: rgb(71, 146, 175);
    padding-right: 25px;
    padding: 10px;
    border-radius: 4px;
    text-decoration: underline;
    
}




